<html>
    <head>
        <title>Model Driven Form</title>
    </head>
    <body>
        <form [formGroup] = "myForm" novalidate (ngSubmit) = "save(myForm.value, myForm.valid)">
            <!-- We'll add our form controls here -->
            <div>
                <label>Name</label>
                <input type = "text" formControlName = "name">
                <small [hidden] = "myForm.controls.name.valid || myForm.controls.name.pristine && !submitted">
                    Name Is Required (Min 5 Characters)
                </small>

            </div>
            <div formGroupName = "address">
                <label>Address</label>
                <input type = "text" formControlName = "street">
                <small [hidden] = "myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
                    Street Required
                </small>
            </div>
            <div formGroupName = "address">
                <label>Post Code</label>
                <input type = "text" formControlName = "postcode">
            </div>
            <p>Form changes:</p>
            <div *ngFor = "let event of events">
                <pre>{{event || json}}</pre>
            </div>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>